# Local development

# Run

# docker-compose -f docker-compose.dev.yml up -d

# Down

# docker-compose -f docker-compose.dev.yml down

services:
  postgres:
    image: postgres:15-alpine
    container_name: brand-flow-postgres-dev
    environment:
      POSTGRES_DB: brand-flow
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  redis:
    image: redis:7-alpine
    container_name: brand-flow-redis-dev
    command: redis-server --appendonly yes --requirepass "password"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 30s
volumes:
  postgres_data_dev:
  redis_data:
    driver: local
